{% load i18n staticfiles bootstrap3 %}
{% get_current_language_bidi as BIDI %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ view.page_title }}
        {% endblock %}
    </title>
    {% if BIDI %}
        <link href="{% static "bootstrap/css/bootstrap-rtl.css" %}"
              rel="stylesheet">
    {% else %}
        <link href="{% static "bootstrap/css/bootstrap.css" %}"
              rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body{% if BIDI %} dir="rtl"{% endif %}>

<div class="container">

    <div class="pull-right">
        {#        <a href="{% url "blog:list" %}">Blog</a>#}
        {#        |#}
        {#        <a href="{% url "expenses:create_account" %}">Add Account</a>#}
        {#        |#}
        {#        <a href="{% url "expenses:create" %}">Add Expense</a>#}
        {#        |#}
        {#        {{ user }}#}
        {#        |#}
        {#        <a href="{% url 'logout' %}">Logout</a>#}
    </div>

    <a class="header-link" href="{% url "doggyfood:list" %}">
        <h1>
            Kosher Doggy
        </h1>
    </a>

    {% bootstrap_messages %}

    {% if view.search == "active" %}
        <form id="search-form" action="{% url 'doggyfood:list' %}" method="get" accept-charset="utf-8">
            <div class="searchbar">
                <input class="form-control search" id="search-box" name="q" type="text"
                       placeholder="Search by dog food, ingredients or description...">
                <input class="form-control search" id="exclude-box" name="exclude" type="text"
                       placeholder="Exclude ingredients...">
                <button class="btn btn-secondary" id="search-btn" type="submit">
                    <i class="fa fa-search"></i>
                    search
                </button>
            </div>
            <div class="search-group">
                <div class="radio-selection">
                    <label class="radio-inline"><input id="all" type="radio" name="optradio" checked>All</label>
                    <label class="radio-inline"><input id="custom" type="radio" name="optradio">Custom</label>
                </div>
                <div id="checkbox-group">
                    {% for t in view.get_category_types %}
                        <div class="category-type">
                            <h4>{{ t }}</h4>
                            {% for cat in view.get_categories|dictsort:"type" %}
                                {% if t == cat.type_verbose %}
                                    <div class="checkbox"><label><input type="checkbox" value="{{ cat }}">{{ cat }}
                                    </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <input class="form-control search" id="category-select" name="category" type="text"/>
        </form>
    {% endif %}

    <div>

        {% block content %}
            CONTENT
        {% endblock %}

    </div>

</div>

<script src="{% static "jquery.js" %}"></script>
<script src="{% static "base.js" %}"></script>
{% block scripts %}
{% endblock %}

</body>
</html>