{% load i18n staticfiles bootstrap3 %}
{% get_current_language_bidi as BIDI %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ view.page_title }}
        {% endblock %}
    </title>
    {% if BIDI %}
        <link href="{% static "bootstrap/css/bootstrap-rtl.css" %}"
              rel="stylesheet">
    {% else %}
        <link href="{% static "bootstrap/css/bootstrap.css" %}"
              rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
</head>
<body{% if BIDI %} dir="rtl"{% endif %}>

<div class="container">


    <div class="header-container">
        <div>
            <a class="header-link" href="{% url "doggyfood:list" %}">
                <span>
                    <img class="logo-pic"
                         src="{% static "KosherDoggyLogo.png" %}">
                    <h1>
                        Kosher Doggy
                    </h1>
                </span>
            </a>
        </div>
        <div class="navigation-menu">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" onclick="location.href='{% url 'doggyfood:list' %}'">Home
                </button>
                <button type="button" class="btn btn-default" onclick="location.href='{% url 'doggyfood:about' %}'">About</button>
                <button type="button" class="btn btn-default" onclick="location.href='{% url 'doggyfood:contact' %}'">Contact Us</button>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>
                        {{ user }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="{% url 'authentication:password_change' %}">Change Password</a></li>
                        <li><a href="{% url 'authentication:logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    {% bootstrap_messages %}

    {% if view.search == "active" %}
        <form id="search-form" action="{% url 'doggyfood:list' %}" method="get" accept-charset="utf-8">
            <div class="form-interior">
                <div class="searchbar">
                    <input class="form-control search" id="search-box" name="q" type="text"
                           placeholder="Search by dog food, ingredients or description..."
                           value="{{ view.search_text }}">
                    <input class="form-control search" id="exclude-box" name="exclude" type="text"
                           placeholder="Exclude ingredients..." value="{{ view.exclude_text }}">
                    <button class="btn btn-secondary" id="search-btn" type="submit">
                        <i class="fa fa-search"></i>
                        search
                    </button>
                    <button class="btn btn-secondary" id="show-filter-btn" type="button">
                        Show Filters
                    </button>
                </div>
                <div class="search-group">
                    <div id="checkbox-group">
                        {% for t in view.get_category_types %}
                            <div class="category-type">
                                <h4>{{ t }}</h4>
                                {% for cat in view.get_categories|dictsort:"type" %}
                                    {% if t == cat.type_verbose %}
                                        <div class="checkbox"><label><input name="category" value="{{ cat }}"
                                                                            type="checkbox">{{ cat }}
                                        </label>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    {% endif %}

    <div>

        {% block content %}
            CONTENT
        {% endblock %}

    </div>

</div>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/base.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
{% block scripts %}
{% endblock %}

</body>
</html>