h2, h4, h5 {
    font-style: italic;
}

body {
    background-color: aliceblue;
}

.header-link, .header-link:hover {
    color: black;
    text-decoration: none;
}

.card {
    overflow: hidden;
    /*padding: 1em;*/
    margin: 1em;
    background-color: skyblue;
    height: 35em;
    border: 1px solid grey;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #888888;
}

.card-content {
    margin: 1em;
    overflow: hidden;
    height: 55%;
    line-height: 1.5em;
    text-decoration: none;
    color: black;
    text-decoration: none;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 33%; /* fallback */
}

.ingredients,.nutritional-comp{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-link,.card-link:hover {
    color: black;
    text-decoration: none;
}

.ing-nut {
    height: 30%;
}

.card:hover {
    box-shadow: 1px 1px 1px #888888;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
}

.card:active {
    box-shadow: 0px 0px 0px #888888;
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
}

.card-img {
    height: 40%;
    width: 100%;
}

.page {
    width: 80%;
    height: 60%;
    margin: auto;
    background-color: skyblue;
    border: 1px solid grey;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #888888;
    padding: 2em;
}

.image-prev {
    width: 80%;
    margin: 0 10%;
}

#search-box {
    width: 60%;
}

#exclude-box {
    width: 29%;
    margin-left: 1%;
}

#search-btn {
    min-width: 5em;
    width: 9%;
    margin-left: 1%;
}

.searchbar {
    display: flex;
    justify-content: space-around;
}

.radio-selection {
    margin: 2%;
    display: flex;
    justify-content: center;
}

.radio-selection label {
    margin-right: 2%;
}

#checkbox-group {
    margin: 1%;
    display: flex;
    justify-content: space-between;
}

#category-select {
    visibility: hidden;
    height: 0;
}

.rating-preview {
    pointer-events: none;
}