{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load ratings %}
{% block content %}

    {% if object_list.count %}
        <div class="row row-comp">
            {% for object in object_list %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-comp" id="card_{{ object.id }}">
                        {% if object.photo %}
                            <img class="card-img-comp" id="img_{{ object.id }}" src="{{ object.photo.url }}">
                        {% else %}
                            <img class="card-img-comp" id="img_{{ object.id }}" alt="No Image">
                        {% endif %}

                        <div class="card-content-comp" id="content_{{ object.id }}">
                            <a href="{% url "doggyfood:preview" pk=object.id %}">
                                <p>Preview this product</p>
                            </a>
                            <h4 class="title">{{ object.title }}</h4>
                            <hr>
                            <div class="rating-preview">
                                {% ratings object %}
                            </div>
                            <hr>
                            <div class="ing-nut-comp" id="ing-nut_{{ object.id }}">
                                <div class="common-ing">
                                    <b>Ingredients in common:</b>
                                    <ul>
                                        {% for ing in view.get_ing_comparison %}
                                            <li>{{ ing }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <hr>
                                <h4>Ingredients</h4>
                                <ul>
                                    {% for ing in object.ingredients.all %}
                                        <li><a href="#" data-toggle="tooltip"
                                               title="{{ ing.description }}">{{ ing }}</a></li>
                                    {% endfor %}
                                </ul>
                                <b>Ingredients composition: </b>
                                <p>{{ object.get_ingredient_composition | join:', ' }}</p>
                                <b>Nutritional Composition: </b>
                                <ul>
                                    {% for nut in object.get_nutritional_composition %}
                                        <li class="nutritional-comp">{{ nut }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
        Woof! Nothing to show...
    {% endif %}

{% endblock %}