{% extends "base.html" %}
{% load bootstrap3 staticfiles %}
{% load ratings %}

{% block content %}
    <div class="page">

        <div class="page-body">
            {% if object.photo %}
                <img class="image-prev" src="{{ object.photo.url }}">
            {% else %}
                <img class="card-prev" alt="No Image">
            {% endif %}
            <h2>{{ object.title }}</h2>
            <b>({{ object.get_food_type_display }})</b>
            <p>{{ object.description }}</p>
            <br>
            <br>
            <h4>Category</h4>
            <p>{{ object.category.all | join:', ' }}</p>
            <br>
            <h4>Ingredients</h4>
            <ul>
                {% for ing in object.ingredients.all %}
                    <li><a href="#" data-toggle="tooltip" title="{{ ing.description }}">{{ ing }}</a></li>
                {% endfor %}
            </ul>
            <h4>Ingredient Composition</h4>
            <p>{{ ingredients_composition | join:', ' }}</p>
            <br>
            <h4>Nutritional Composition</h4>
            <p>{{ nutritional_composition | join:', ' }}</p>
            <br>
            <div class="rating-preview">
                {% ratings object %}
            </div>

        </div>
            <a href=""></a>
            <div class="panel panel-default add-review-form">
                <div class="panel-heading">
                    <h3 class="panel-title">Add review</h3>
                </div>
                <div class="panel-body">
                    <form method="post" id="reviewform">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-primary" id="send">Send Review</button>
                    </form>
                </div>
            </div>
            <ul class="list-group" id="reviews">
                <h4>Reviews</h4>
                {% for review in object.reviews.all %}
                    {% include "doggyfood/_review.html" %}
                {% endfor %}
            </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/dogfood_detail.js" %}"></script>
{% endblock %}
