{% extends "base.html" %}
{% load bootstrap3 %}
{% load ratings %}

{% block content %}
    <div class="page">
        <h2>{{ object.title }}</h2>
        <b>({{ object.get_food_type_display }})</b>
        <p>{{ object.description }}</p>
        <div class="page-body">
            {% if object.photo %}
                <img class="image-prev" src="{{ object.photo.url }}">
            {% else %}
                <img class="card-prev" alt="No Image">
            {% endif %}
            <h4>Category</h4>
            <p>{{ object.category.all | join:', ' }}</p>
            <h4>Ingredients:</h4>
            <p>{{ ingredients_composition }}</p>
            <h4>Nutritional Composition:</h4>
            <p>{{ nutritional_composition }}</p>
            {% ratings object %}
        </div>
    </div>
{% endblock %}